/dataset_label_with_Gemini.ipynb
/stockus_data
/test.ipynb
/__pycache__
/근데 국장도 사실상 많이 떨어진것도 아님.. - 미국 주식 마이너 갤러리.htm
/미국 주식 마이너 갤러리 - 커뮤니티 포털 디시인사이드.html
/미주식 악재뉴스 떳다 - 미국 주식 마이너 갤러리.html
/model
/spam_data_augmentation.ipynb
/stockus_2021_11_12.py
/플로우차트.png